<p></p>
<p></p>
<!--Imagenes de inicio-->

<div class="slides">
    <ul>
        <li><img src="../../imagenes(principal)/p1 corrediza.jpg" alt=""></li>
        <li><img src="../../imagenes(principal)/p2 corrediza.jpg" alt=""></li>
        <li><img src="../../imagenes(principal)/p3 corrediza.jpg" alt=""></li>

    </ul>
</div>


<div id="subir__arriba">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-circle" width="44" height="44"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <circle cx="12" cy="12" r="9" />
        <line x1="12" y1="8" x2="8" y2="12" />
        <line x1="12" y1="8" x2="12" y2="16" />
        <line x1="16" y1="12" x2="12" y2="8" />
    </svg>
</div>

<div class="conjunto1">
    <img class="imagen" src="../../imagenes(principal)/p1 fondo.jpg" alt="">


    <img class="imagen3" src="../../imagenes(principal)/p2 fondo.jpg">


</div>

<div class="conjunto2">
    <img class="imagen4" src="../../imagenes(principal)/p4 fondo.jpg" alt="">
    <img class="imagen5" src="../../imagenes(principal)/p3 fondo.jpg" alt="">

</div>



<div class="videos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qPHvP1JWyMs" frameborder="1"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qPHvP1JWyMs" frameborder="1"></iframe>
</div>