<div class="logo"> <img src="../../imagenes(principal)/Avadorelogo.png" alt=""> </div>

<input type="checkbox" id="btn-menu">
<label for="btn-menu">

</label>

<nav class="menu">

    <ul>
        <li id="menu"><a class="menu" href="/">Inicio</a></li>
        <li id="menu"><a class="menu" href="/nosotros">Nosotros</a></li>
        <li id="menu"><a class="menu" href="/productos">Productos</a></li>
        <li id="menu"><a class="menu" href="/testimonios">Testimonios</a></li>
        <li id="menu"><a class="menu" href="/contacto">Contacto</a></li>
    </ul>
</nav>