<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {css: "../../css/principalCss/formulario.css", encabezado: "Formulario de Contacto"})  %>
</head>

<body>


    <main>
        <%- include("../partials/bodyformulario") %>
    </main>


</body>

</html>