<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {css: "../../css/principalCss/testimonios.css", encabezado: "Testimonios"})  %>
</head>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main>
        <%- include("../partials/bodytestimonios") %>
    </main>

    <footer>
        <%- include("../partials/footer")  %>
    </footer>
</body>
<script src="../../scripts/gotup.js"></script>

</html>